.card {
    height: 400px; /* 400px 334px */
    width: 500px; /* 500px 300px*/
    margin: 0; /* Space inside carousel */
    /* box-shadow: 5px 5px 0px 3px rgba(99, 3, 255, 0.5); */
    border-radius: 20px 20px 10px 10px;
    display: grid !important;
    grid-template-areas: "image" "image" "title" "paragraph";
    grid-template-rows: 10vh 1fr 0.5fr 1fr;
  
    
  }
  .card h2 {
    grid-area: title;
    font-size: 18px;
    padding: 0 0 0 10px;
    align-self: center;
  }
  .card p {
    grid-area: paragraph;
    font-size: 14px;
    padding: 0 10px;
    text-align: justify;
    align-self: self-start;
  }
  
  .card-image {
    grid-area: image;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-image:hover img {
    transform: scale(1.3);
  }
  
  .card .card-id {
    grid-area: id;
    font-size: 15px;
  }