.contact-form-section {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#contact-form-article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    #contact-message {
        grid-column: 2 / span 5;
        grid-row: 2 / span 4;
        padding: 1.8518vh 1.0416vw; /* 20px 20px */
    }

    form {
        grid-column: 7 / span 5;
        grid-row: 2 / span 5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-form{
            margin: 0.9259vh 0;  /* 10px */
            padding: 1.3888vh 0.78125vw; /* 15px 15px */
            border: 1px solid #000000;
            border-radius: 2px;
            font-size: 1em;
        }

        #message {
            max-width: calc(33.3333vw - 1.5625vw);
            min-width: calc(33.3333vw - 1.5625vw);
            max-height: 15.6453vh; /* 168.97px */
            min-height: 6.5vh;
            font-size: 0.989583vw; /* 19px */
        }

        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

#contact-form-submit {
    align-self: flex-end;
    width: 6.5104vw; /* 125px */
    background-color: rgba(100, 3, 255, 0.425);
}