footer {
    height: 50vh;
    display: grid;
    grid-template-areas: 
        "blank info"
        "blank misc";

    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 6fr;

    #info-footer {
        grid-area: info;
        display: flex;
        gap: 400px;
        align-items: center;

        #name-footer {
            color: rgb(8, 13, 80);
            font-size: 60px;
        }
        #socials-footer {
            grid-area: socials;
            height: 35px;
            justify-self: flex-end;
            display: flex;
            gap: 15px;
            
            .social-icon {
                height: 35px;
            }
        }
    }

    #misc-footer {
        grid-area: misc;
        display: flex;
        flex-flow: column;

        #links-footer {
            padding-top: 2vh;
            display: flex;
            flex-flow: column;
            gap: 1vh;
            list-style: none;
    
            li {
                width: 10%;
            }
    
            .footLinks {
                color: rgba(0, 0, 0, 0.753);
                font-size: 17px;
                text-decoration: none;
            }
        }
        #copyright-footer {
            padding: 0 0 2vh 0;
            margin-top: auto;
        }
    }
}