.graph-animation {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.graph {
    width: 12%;
    margin: 0 1%;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s, background-color 0.5s;
    
}

.sm-graph {
    height: 30%;
    background-color: #cf2d2d;
    animation: sm 0.9s backwards;
}

.md-graph {
    height: 50%;
    background-color: #9324d3;
    animation: md 0.9s backwards;
}

.lg-graph {
    height: 70%;
    background-color: #0d54d6;
    animation: lg 0.9s backwards;
}

.xl-graph {
    height: 90%;
    background-color: #21d4b6;
    animation: xl 0.9s backwards;
}

.graph:first-child {
    animation-delay: 0.15;
}

.graph:nth-child(2) {
    animation-delay: 0.3s;
}

.graph:nth-child(3) {
    animation-delay: 0.45s;
}

.graph:nth-child(4) {
    animation-delay: 0.6s;
}

.graph:nth-child(5) {
    animation-delay: 0.75s;
}

.graph:last-child {
    animation-delay: 0.9s;
}

.graph:hover {
    height: 100% !important;
    background-color: #00d9ff;
}

@keyframes sm {
    from {
        height: 0;
    }
    to {
        height: 30%;
    }
}

@keyframes md {
    from {
        height: 0;
    }
    to {
        height: 50%;
    }
}

@keyframes lg {
    from {
        height: 0;
    }
    to {
        height: 70%;
    }
}

@keyframes xl {
    from {
        height: 0;
    }
    to {
        height: 90%;
    }
}