#banner-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    padding-top: 10vh;
    /* background: linear-gradient(-45deg, #9924bd, #39b2d4,#77f7d3); */
    background: linear-gradient(45deg, #8810d2 26%, #1c00ff 49%, #1fc9d4 74%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

#greet-article {
    grid-column: 2/span 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2vh;
}
#greet-article h1 {
    font-size: clamp(35px, 2.2vw, 42.24px); /* 42.24px at 1920 */
}
#greet-article p {
    font-size: clamp(18px, 1.1vw, 21.12px); /* 21.12px at 1920 */
}

.staticColorNav, .banner-text {
    animation: changeColor 15s infinite;
}

#greet-image-article {
    grid-column: 7/span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#greetImage {
    height: 90vh;
    width: auto;
}

#servicios-section {
    height: fit-content;
    background-color: rgba(146, 253, 221, 0.507);
}

#servicios-acordion .accordion-body {
    transition: height 0.5s, opacity 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#servicios-acordion .acordion-boton {
    width: clamp(350px, 24vw, 360px );
}
#servicios-acordion .acordion-boton img {
    height: clamp(50px, 6.94vh, 70px);
}
#servicios-acordion .card {
    width: clamp(320px, 26.041vw, 500px);
    height: clamp(400px, 45vh, 500px); 
}
.accordion-body.open {
    height: 80vh;
}
.accordion-body.closed {
    height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #banner-section {
        display: flex;
        flex-flow: column;
        height: 90lvh;
        padding: 10lvh 5lvw 0 5lvw;
        background: linear-gradient(45deg, #8810d2 26%, #1c00ff 49%, #1fc9d4 74%);
        animation: gradient 15s ease infinite;
        background-size: 500% 500%;
    }

    #greet-article {
        display: block;
    }
    #greet-article h1 {
        margin: 5lvh 0 2lvh 0;
        font-size: clamp(25px, 5lvw, 42.24px); /* 42.24px at 1920 */
    }
    #greet-article p {
        font-size: clamp(18px, 1.1lvw, 21.12px); /* 21.12px at 1920 */
    }

    #greet-image-article {
        margin: 5lvh 0 0 0;
        display: block;
    }
    
    #greetImage {
        height: 50lvh;
        width: 100%;
    }
    
    #servicios-acordion .accordion-body {
        flex-flow: column;
        align-items: center;
        gap: 1lvh;
    }
    #servicios-acordion .acordion-boton {
        width: 80%;
    }
    #servicios-acordion .acordion-boton h2 {
        font-size: clamp(20px, 2.5lvw, 30px);
    }
    #servicios-acordion .acordion-boton img {
        width: clamp(50px, 10lvw, 70px);
        height: clamp(50px, 10lvw, 70px);
    }
    #servicios-acordion .card {
        width: 60%;
        height: 32%;
        display: grid !important;
        grid-template-rows: 15lvh 1fr 0.5fr 1fr 0.2fr;
    }
    #servicios-acordion .card img {
        height: 100%;
        grid-row: 1;
    }
    #servicios-acordion .card h2 {
        font-size: clamp(14px, 2.5lvw, 30px);
        grid-row: 2;
    }
    #servicios-acordion .card p {
        font-size: clamp(10px, 2.5lvw, 30px);
        grid-row: 3;
    }
    
    .card .card-id {
        grid-row: 5 !important;
        font-size: 15px;
    }
    .card:hover {
        transform: scale(1);
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;

    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes changeColor {
    0% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #ffffff;
    }
}