#banner-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    padding-top: 10vh;
    /* background: linear-gradient(-45deg, #9924bd, #39b2d4,#77f7d3); */
    background: linear-gradient(45deg, #8810d2 26%, #1c00ff 49%, #1fc9d4 74%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

#greet-article {
    grid-column: 2/span 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2vh;
    h1 {
    font-size: 2.2vw;
    }
    p {
        font-size: 1.1vw;
    }
}

.staticColorNav,
.banner-text {
    animation: changeColor 15s infinite;
}

#greet-image-article {
    grid-column: 7/span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#greetImage {
    height: 90vh;
    width: auto;
}

#que-hacemos-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 0 3vh 0;
}

.section-title {
    text-align: center;
    align-self: center;
    font-size: 2rem;
}

#que-hacemos-container {
    display: grid;
    width: 85vw;
    margin: 2vh 0 0 0;
    gap: 40px;

    .card {
        justify-self: center;
    }
}

#servicios-section {
    height: fit-content;
    /* background-color: rgba(49, 190, 255, 0.507); */
}

@media (1023px < width < 1365px) { /* 1024px a 1364px */
    #que-hacemos-container {
        grid-template-columns: repeat(3, 1fr);

        .card {
            width: 250px;
        }
    }
}

@media (1364px < width < 1441px) { /* 1365px a 1440px */
    #que-hacemos-container {
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media (1440px < width < 1920px) { /* 1441px a 1919px */
    #que-hacemos-container {
        grid-template-columns: repeat(3, 1fr);

        .card {
            width: 334px;
        }
    }
}

@media (min-width: 1920px) {
    #que-hacemos-container {
        grid-template-columns: repeat(6, 1fr);

        .card {
            width: 334px; /* 250px */
        }
    }
}



@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;

    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes changeColor {
    0% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #ffffff;
    }
}