#banner-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    padding-top: 10vh;
}

#greet-article {
    grid-column: 2/span 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2vh;
    h1 {
    font-size: 2.2vw;
    }
    p {
        font-size: 1.1vw;
    }
}

#greet-image-article {
    grid-column: 7/span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#greetImage {
    height: 90vh;
    width: auto;
}

