#banner-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    padding-top: 10vh;
    /* background: linear-gradient(-45deg, #9924bd, #39b2d4,#77f7d3); */
    background: linear-gradient(45deg, #8810d2 26%, #1c00ff 49%, #1fc9d4 74%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

#greet-article {
    grid-column: 2/span 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2vh;
}
#greet-article h1 {
    font-size: clamp(35px, 2.2vw, 42.24px); /* 42.24px at 1920 */
}
#greet-article p {
    font-size: clamp(18px, 1.1vw, 21.12px); /* 21.12px at 1920 */
}

.staticColorNav, .banner-text {
    animation: changeColor 15s infinite;
}

#greet-image-article {
    grid-column: 7/span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#greetImage {
    height: 90vh;
    width: auto;
}

#about-section {
    height: 80vh;
}

#about-text-article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#about-text-article h2 {
    grid-column: 2/span 10;
    grid-row: 1/span 2;
    font-size: clamp(38px, 2.96vw, 43px);
    align-self: center;
}

#about-text-article p {
    grid-column: 3/9;
    grid-row: 3;
    font-size: clamp(19px, 1.48vw, 23px);
    text-align: justify;
    padding: 1%;
}

.graph-article {
    grid-column: 7/12;
    grid-row: 4/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicios-section {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
}

#servicios-acordion .accordion-body {
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#servicios-acordion .acordion-boton {
    width: clamp(350px, 24vw, 360px );
    border: 1px solid rgba(0, 0, 0, 0.26);
}
#servicios-acordion .acordion-boton img {
    height: clamp(50px, 6.94vh, 70px);
}

.service-individual {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 33.29%;
}

.service-individual h3 {
    align-self: center;
    grid-row: 1;
}

.service-individual img {
    width: auto;
    height: 95%;
    object-fit: scale-down;
    grid-row: 2;
    align-self: center;
}

.service-individual p {
    text-align: justify;
    grid-row: 2;
    align-self: center;
    padding: 1%;
}

.service-individual:nth-child(odd) {
    grid-template-columns: 70% 30%;
    background-color: rgba(255, 255, 255, 0.2);
}

.service-individual:nth-child(even) {
    grid-template-columns: 30% 70%;
    background-color: rgba(255, 255, 255, 0.1);
}

.service-individual:nth-child(odd) h3 {
    grid-column: 2;
}

.service-individual:nth-child(even) h3 {
    grid-column: 1;
    justify-self: end;
}

.service-individual:nth-child(odd) img {
    grid-column: 2;
}

.service-individual:nth-child(even) img {
    grid-column: 1;
    justify-self: end;
}

.service-individual:nth-child(odd) p {
    grid-column: 1;
    justify-self: end;
}

.service-individual:nth-child(even) p {
    grid-column: 2;
}

/* #servicios-acordion .card {
    width: 25dvw;
    background-color: rgba(255, 255, 255, 0.2);
}

#servicios-acordion .card h2 {
    grid-area: title;
    font-size: clamp(18px, 1.406dvw, 23px);
    padding: 0 10px;
    align-self: center;
}

#servicios-acordion .card p {
    grid-area: paragraph;
    font-size: clamp(15px, 1.171dvw, 20px);
    padding: 0 20px;
    text-align: justify;
    align-self: self-start;
}

#servicios-acordion .card-image {
    grid-area: image;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
  
#servicios-acordion .card img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
  
#servicios-acordion .card-image:hover img {
    transform: scale(1.3);
} */

.accordion-body.open {
    height: 750px;
}
.accordion-body.closed {
    height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #banner-section {
        display: flex;
        flex-flow: column;
        height: 720px;
        padding: 70px 5lvw 0 5lvw;
        background: linear-gradient(45deg, #8810d2 26%, #1c00ff 49%, #1fc9d4 74%);
        animation: gradient 15s ease infinite;
        background-size: 500% 500%;
    }

    #greet-article {
        display: block;
    }
    #greet-article h1 {
        margin: 36px 0 7.2px 0;
        font-size: clamp(25px, 6.944dvw, 30px);
    }
    #greet-article p {
        font-size: clamp(18px, 5dvw, 23px);
    }

    #greet-image-article {
        margin: 36px 0 0 0;
        display: block;
    }
    
    #greetImage {
        height: 360px;
        width: 100%;
    }

    #servicios-section {
        height: fit-content;
    }
    
    #servicios-acordion .accordion-body {
        flex-flow: column;
        align-items: center;
        gap: 1lvh;
    }

    .accordion-body.open {
        height: 770px;
    }

    #servicios-acordion .acordion-boton {
        width: 100%;
    }
    
    #servicios-acordion .acordion-boton h2 {
        font-size: clamp(18px, 5.555dvw, 25px);
    }

    #servicios-acordion .acordion-boton img {
        width: clamp(50px, 10lvw, 70px);
        height: clamp(50px, 10lvw, 70px);
        padding: 0 15px;
    }

    #servicios-acordion .card {
        width: 60%;
        height: 246px;
        display: grid !important;
        grid-template-rows: 72px 1fr 0.5fr 1fr;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #servicios-acordion .card img {
        height: 100%;
        grid-row: 1;
    }

    #servicios-acordion .card h2 {
        font-size: clamp(12px, 3.888dvw, 19px);
        text-align: center;
        grid-row: 3;
        padding: 5px 10px;
    }

    #servicios-acordion .card p {
        font-size: clamp(12px, 3.888dvw, 19px);
        padding: 0 7px;
        grid-row: 4;
    }
    
    .card .card-id {
        grid-row: 5 !important;
        font-size: 15px;
    }
    .card:hover {
        transform: scale(1);
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;

    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes changeColor {
    0% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #ffffff;
    }
}