* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: 'Roboto', sans-serif;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw; /* 9.6px */
  text-decoration: none;
  border: 0px;
  color: black;
  font-size: 1.119751vw;  /* 1.119751vw 21.6px */
  width: 9.375vw; /* 9.375vw 180px */
  height: 5.393743vh; /* 5.393743vh 50px */
  background-color: orange;
  border-radius: 5px;
  img {
    width: 1.2vw;  /* 23px */
  }
  cursor: pointer;
}

.card {
  height: 334px; /* 400px */
  width: 300px; /* 300px */
  margin: 0; /* Space inside carousel */
  background-color: white;
  /* box-shadow: 5px 5px 0px 3px rgba(99, 3, 255, 0.5); */
  border-radius: 20px 20px 10px 10px;
  display: grid !important;
  grid-template-areas: "image" "image" "title" "paragraph";
  grid-template-rows: 10vh 1fr 0.5fr 1fr;
  
  transform: scale(1);
  transition: transform 0.2s ease;

  h2 {
    grid-area: title;
    font-size: 18px;
    padding: 0 0 0 10px;
    align-self: center;
  }
  p {
    grid-area: paragraph;
    font-size: 14px;
    padding: 0 10px 0 10px;
    text-align: justify;
    align-self: self-start;
  }
  img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}

.card:hover {
  transform: scale(1.05);
}