* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, 0.733) rgb(255, 255, 255);
  scrollbar-width: thin;
}

body {
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Ubuntu Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw; /* 9.6px */
  text-decoration: none;
  border: 0px;
  color: black;
  font-size: 1.119751vw;  /* 1.119751vw 21.6px */
  width: 9.375vw; /* 9.375vw 180px */
  height: 5.393743vh; /* 5.393743vh 50px */
  border-radius: 5px;
  img {
    width: 1.2vw;  /* 23px */
  }
}

.acordion-boton {
  display: flex;
  align-items: center;
  padding: 0 0 0 2vw;
  width: 24vw;
  cursor: pointer;
}

.acordion-boton h2 {
  cursor: pointer;
}

.acordion-boton img {
  height: 7vh;
  width: auto;
  margin: 0 0 0 auto;
  transition: transform 0.3s;
}

.acordion-head-open {
  transform: rotate(90deg);
}