header {
  position: fixed;
  z-index: 10;
  /* height: 10vh; */
  width: 100vw;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.nav-background {
  background-color: rgba(255, 255, 255,0.98);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
  #navHome {
    margin-left: 4vw;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    color: black;
  }
  
  .navLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  }
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 2vw;
  margin-right: 4vw;
}

#servicios-nav {
  cursor: pointer
  
}

#servicios-nav::selection {
  text-decoration:none;
}

#navHome {
  margin-left: 4vw;
  display: inline-block;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#info-section-header {
  width: 100vw;
  height: 40vh;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #info-header {
    display: flex;
    width: 66.6666vw;
    height: 40vh;

    #info-titles-header {
      width: 16.3333vw;
      display: flex;
      flex-flow: column;
      gap: 5vh;
      padding: 0vh 1vw;

      .service-header {
        cursor: pointer;
        padding: 1vh 1vw;
      }
      .service-selected-header {
        color: rgb(99, 3, 255);
        background-color: #9773fc1c;
        border-radius: 10px;
      }
    }

    #info-service-header {
      width: 50.3333vw;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 1vw 1vw;
    }
  }
}

.vertical-line {
  border-left: 1px solid rgba(70, 70, 70, 0.158);
  height: 36vh;
  /* box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.253); */
}

