header {
  position: fixed;
  z-index: 10;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

/* .navHomeScrolled {
  background-color: rgba(255, 255, 255,0.98);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
} */

nav {
  width: 100vw;
  display: flex;
  align-items: center;
}

ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 2vw;
  margin-right: 4vw;
}

#navHome {
  margin-left: 4vw;
  display: inline-block;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
