header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.nav-background {
  background-color: rgba(255, 255, 255,0.98);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);

  #navHome {
    margin-left: 4vw;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    color: black;
  }
  
  .navLink {
    text-decoration: none;
    color: black;
    font-size: clamp(14px, 8.33vw, 18px); /* 16px at 1920 */
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  }

  #burger-menu-navbar {
    color: black;
  }
}

.nav-transition-in {
  transition: background-color 0.25s, box-shadow 0.25s;
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-navbar {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 6vw;
  margin-right: 4vw;
}

#burger-menu-navbar {
  display: none;
}

#servicios-nav {
  cursor: pointer;
}

#services-names-navbar {
  position: absolute;
  top: 10vh;
  background-color: rgba(255, 255, 255,0.98);
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 0 0 10px 10px;
  padding: 5px;

  li {
    list-style: none;
    cursor: default;
    margin: 4px 0 0 0;
  }
  li:first-child {
    margin: 0;
  }
}

#servicios-nav::selection {
  text-decoration:none;
}

#navHome {
  margin-left: 4vw;
  display: inline-block;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: clamp(14px, 8.33vw, 18px); /* 16px at 1920 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#info-section-header {
  width: 100vw;
  height: 40vh;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #info-header {
    display: flex;
    width: 66vw;
    height: 40vh;

    #options-header {
      width: 18vw;
      display: flex;
      flex-flow: column;
      gap: 5vh;
      padding: 0vh 1vw;

      .option-link-header {
        text-decoration: none;
        color: black;
        padding: 1vh 1vw;
        font-size: 1.17em;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    #info-titles-header {
      width: 18vw;
      display: flex;
      flex-flow: column;
      gap: 5vh;
      padding: 0vh 1vw;

      .service-header {
        cursor: pointer;
        padding: 1vh 1vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 1.5vw;
          height: 1.5vw;
        }
      }
      .service-selected-header {
        color: rgb(99, 3, 255);
        background-color: #9773fc1c;
        border-radius: 10px;
      }
    }

    #info-service-header {
      width: 30vw;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 1vw 1vw;
    }

    .service-description-header {
      padding: 1vh 1vw;
      
      h3 {
        padding-bottom: 5px;
      }
    }
  }
}

/* A PARTIR DE AQUI EMPIEZA VISTA PARA TELEFONOS */

/* @supports (-webkit-touch-callout: none) {
  #mobile-menu-navbar {
    height: 40lvh;
  }
}

@supports not (-webkit-touch-callout: none) {
  #mobile-menu-navbar {
    height: fit-content;
  }
} */

@media only screen and (min-width: 320px) and (max-width: 768px){
  nav {
    height: 70px;
  }
  #list-navbar {
    display: none;
  }
  #burger-menu-navbar {
    display: block;
    margin: 0 4lvw 0 auto;
    font-size: clamp(25px, 10lvw, 50px);
    color: white;
  }
  #mobile-menu-navbar {
    width: 92lvw;
    height: fit-content;
    background-color: rgba(255, 255, 255,0.98);
    position: absolute;
    top: 69px;
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.486);
    padding: 2lvh 4lvw;
    animation: menu;
    animation-duration: 0.3s;
    animation-timing-function: ease;
  }
  .menu-list {
    list-style: none;
  } 
  .menu-list a {
    color: black;
      text-decoration: none;
      font-size: 20px;
      width: 100%;
  }
  #mobile-list-navbar {
    display: flex;
    flex-flow: column;
    height: 100%;
    gap: 4lvh;
    justify-content: center;
  }
  #services-menu-nav {
    display: flex;
    align-items: center;
  }
  #services-menu-nav p {
    font-size: 20px;
  }
  #services-map-nav img {
    height: 30px;
    width: auto;
  }
  #services-menu-list li {
      list-style: none;
      cursor: pointer;
      padding: 1lvh 0;
  }
  #services-names-navbar-mobile li {
    list-style: none;
    cursor: pointer;
    margin: 3lvh 0 0 0;
    padding: 0 0 0 6lvw;
  }

  .mobile-nav-link {
    display: block;
    width: 100%;
  }
  
  @keyframes menu {
    0% {
      right: -100lvw;
    }
    100% {
      right: 0;
    }
  }
}