.section-services {
  height: 100vh;
}

#section-bi {
  padding-top: 10vh;
}

.section-services > .services-header{
  width: 100vw;
  height: 21.5749vh; /* 200px */
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-header h2 {
  font-size: 3vw;
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.services-information {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-slider {
  width: 54vw; /* 1036.8px width of carousel container */
}