ul {
    float: right;
    padding: 0px;
    margin: 0px 2vw 0px 0px;
}

li {
    list-style: none;
    display: inline;
    margin-left: 2vw;
    margin-right: 2vw;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bolder;
}

#navHome {
    margin-left: 4vw;
    display: inline-block;
}

nav {
    margin: 1vh 0px 1vh 0px;
}

button {
    width: 100px;
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }