#banner-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    padding-top: 10vh;
}

#greet-article {
    grid-column: 2/span 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2vh;
    h1 {
    font-size: 2.2vw;
    }
    p {
        font-size: 1vw;
    }
}

.learn-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    text-decoration: none;
    color: black;
    font-size: 2vh;
    width: 9.375vw;
    height: 50px;
    background-color: rgba(100, 3, 255, 0.425);
    img {
      width: 1.2vw;
    }
  }

#greet-image-article {
    grid-column: 7/span 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#greetImage {
    height: 90vh;
    width: auto;
}

