.section-services {
  height: 100vh;
}

#section-bi {
  padding-top: 10vh;
}

.section-services > .services-header{
  width: 100vw;
  height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-header h2 {
  font-size: 3vw;
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.services-information {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-slider {
  width: 54vw;
}

.card {
  height: 37.037vh;
  width: 15.62vw;
  margin: 1vh 1vw 1vh 1vw;
  background-color: white;
  box-shadow: 5px 5px 0px 3px rgba(99, 3, 255, 0.5);
  border-radius: 20px;
  display: grid !important;
  grid-template-areas: "title" "paragraph" "paragraph";
  grid-template-rows: 10.2254vh 1fr 1fr;
  h2 {
    grid-area: title;
    font-size: 1.2vw;
    padding: 0px 10px 0px 10px;
    text-align: center;
    align-self: center;
    margin: 0px;
  }
  p {
    grid-area: paragraph;
    font-size: 0.777vw;
    padding: 0px 10px 0px 10px;
    text-align: justify;
    margin: 0px;
    align-self: self-start;
  }
}